src/test/resources/testCert.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:enhanced-mule-properties="http://www.mulesoft.org/schema/mule/enhanced-mule-properties"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/enhanced-mule-properties http://www.mulesoft.org/schema/mule/enhanced-mule-properties/current/mule-enhanced-mule-properties.xsd">
    <enhanced-mule-properties:config name="config" descPath="properties-testcert.yaml"/>

    <flow name="test">
        <set-variable variableName="filepath" value="file://${testCert.file}"/>
        <set-variable variableName="cert" value="#[import * from dw::core::Binaries --- toBase64(readUrl(vars.filepath,'application/octet-stream'))]"/>
        <set-variable variableName="storepw" value="${testCert.storepw}"/>
        <set-variable variableName="keypw" value="${testCert.keypw}"/>
        <set-variable variableName="alias" value="${testCert.alias}"/>
    </flow>
</mule>
