src/test/resources/testFile.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:enhanced-mule-properties="http://www.mulesoft.org/schema/mule/enhanced-mule-properties"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/enhanced-mule-properties http://www.mulesoft.org/schema/mule/enhanced-mule-properties/current/mule-enhanced-mule-properties.xsd">
    <enhanced-mule-properties:config name="config"/>

    <flow name="test">
        <set-variable variableName="filepath" value="file://${testFile.file}"/>
        <set-variable variableName="testFile" value="#[readUrl(vars.filepath,'text/plain')]"/>
    </flow>
</mule>
