example/src/main/mule/example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd

http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f2bbd249-b30a-4e27-95aa-da6452b5b133" >
		<http:listener-connection host="0.0.0.0" port="8081" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="${my.cert.file}" alias="${my.cert.alias}" keyPassword="" password=""/>
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<flow name="exampleFlow" doc:id="8db9f027-7f1f-47d2-b2a8-bfee6c061641" >
		<http:listener doc:name="Listener" doc:id="a6786316-4928-4885-9915-b73716fdaef3" config-ref="HTTP_Listener_config" path="/*"/>
		<logger level="INFO" doc:name="Logger" doc:id="eb755dca-c832-4727-a831-530861ef21b8" message="#[p('some.example')]"/>
		<ee:transform doc:name="Transform Message" doc:id="668597ad-f663-416d-b5f1-d71639b0fb47" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hello World: ${example.one} : ${example.two}"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
